body{
    margin:0;
    padding:0;
}
.content{
    width: 30%;
    height: 100%;
    background-color: #e5e5e5;
    margin: auto;
    margin-top: 300px;
}
.loginForm{
    width: 40%;
    background-color: #f6f6f6;
    display: inline-block;
    margin: 60px 30px 60px 165px;
}
.username{
    margin-left: 8px;
}
.username label,.pwd label{
    font-size: 15px;
    color: black;
    font-family: "Microsoft Yahei"
}
.username input,.pwd input{
    width: 180px;
    height: 20px;
    border-radius: 5px;
    border: none;
}
.username span,.pwd span{
    display: inline-block;
    width: 140px;
    height: 20px;
    color:red;
}
.pwd{
    margin-left: 8px;
}
.sign-up{
    display: block;
    width: 217px;
    height: 33px;
    text-align: center;
}
.sub{
    width: 61px;
    height: 22px;
    background-color: lightblue;
    border: none;
    color: black;
    margin-left: 6px;
}
.check{
    margin-left: 80px;
}